{% extends 'base.html' %} {% block content %} {% if object %}
<h1>Edit {{ event.get_type_display }}</h1>
{% else %}
<h1>Add {{ event.get_type_display }}</h1>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn black">Submit</button>
</form>
<script>
    document.getElementById("id_start_date_time").type="datetime-local";
    document.getElementById("id_end_date_time").type="datetime-local";
</script>
{% endblock content %}
