{% extends 'base.html' %}

{% block content %}

<h1>{{event.wedding.name }}</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ event.get_type_display }}</span>
                <br>
                <p>Venue: {{ event.venue}}</p>
                <p>Starts: {{ event.start_date_time}}</p>
                <p>Ends: {{ event.end_date_time}}</p>
                <p>Description: {{ event.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'events_update' event.id %}">Update</a>
                <a href="{% url 'events_delete' event.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <h4>All  Wedding Guests</h4>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                
                {% for guest in event.wedding.guest_set.all %}
                <tr>
                    <td>
                        {{ guest.first_name }} {{ guest.last_name }}
                    </td>
                    <td>{{ guest.email }}</td>
                    <td>
                        <form action="{% url 'assoc_guest' event.id guest.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn">+</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col s6">
        <h4>Invited Guests</h4>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
          <tbody>
            {% for guest in non_guest_list.all %}
                <tr>
                    <td>
                        {{ guest.first_name }} {{ guest.last_name }}
                    </td>
                    <td>{{ guest.email }}</td>
                </tr>
                {% endfor %}
            </tbody> 
        </table>
    </div>
</div>

{% endblock content %}