{% extends 'base.html' %}

{% block content %}

<h1>Wedding Detail Page!</h1>
<div class="col s6">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ wedding.name }}</span>
            <br>
            <p>{{ wedding.description|linebreaks }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'weddings_delete' wedding.id %}">Delete</a>
            <a href="{% url 'weddings_update' wedding.id %}">Update</a>

        </div>
    </div>
</div>

{% endblock content %}
