{% extends 'base.html' %}

{% block content %}

<h2>Welcome to <strong>Wedding Season</strong></h2>
<h4>Our goal is to take the stress out of wedding planning!</h4> 
<p><strong>Wedding Season</strong> allows you to easily keep track of your wedding and guest list.</p>
<p>Not all wedding guests will be invited to all wedding-related events leading up to your big day. Think about your bachelor and bachelorette parties, bridal shower, rehearsal dinner, ceremony, and reception. Keep track of guests invited to each of your wedding events... all in one place!</p>
<img id="home-page-image" src="https://i.imgur.com/reFt5wh.jpg" alt="home-page-image">

{% endblock content %}