{% extends 'base.html' %}

{% block content %}

<h1>Welcome to <strong>Wedding Season</strong></h1>
<h4>Our goal is to take the stress out of wedding planning!</h4> 
<p><strong>Wedding Season</strong> allows you to create a wedding with your entire guest list. But, not all of your wedding guests - will be invited to all of the events leading up to your big day. Keep track of guests invited to each of your wedding events - your bachelor and bachelorette parties, bridal shower, rehearsal dinner, ceremony, and reception... all in one place!</p>
<img id="home-page-image" src="https://i.imgur.com/reFt5wh.jpg" alt="home-page-image">

{% endblock content %}